
  .photo-list-p {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    overflow: hidden;
  }

  .photo-list-p {

    @media (max-width: 768px) {
      justify-content: center;
    }
  }
  
  .photo-list-p__looo {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px 20px 24px;
  }
  
  .photo-list-p__block-description {
    position: relative;
    overflow: hidden;
  }

  .photo-list-p__block-description {
    width: 450px;
    height: 294px;

    @media (min-width: 768px) {
      width: 354px;
      height: 100%;
    }

    @media (min-width: 1200px) {
      width: 370px;
      height: 100%;
    }
  }

  .photo-main {
    width: 450px;

    @media (min-width: 768px) {
      width: 354px;
    }

    @media (min-width: 1200px) {
      width: 370px;
    }
  }
  
  .photo-list-p__description-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rgba-decription);
    width: 370px;
    height: 294px;
    transition: transform 250ms;
    transform: translateY(100%);
  }
  
  .photo-list-p__description-list {

    width: 450px;
    @media (min-width: 768px) {
      width: 354px;
    }

    @media (min-width: 1200px) {
      width: 370px;
    }
  }
  
  .photo-list-p__text-description {
    color: var(--color-color4);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0,03em;
  }
  
  .photo-list-p__block-all:hover .photo-list-p__description-list {
    display: block;
    transform: translateY(0%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .photo-list-p__block-all {
    display: block;
  }
  
  .photo-list-p__block-all {
    width: 450px;

    @media (min-width: 768px) {
      width: 354px;
    }

    @media (min-width: 1200px) {
      width: 370px;
    }
  }

  .photo-list-p__block-all:hover {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: var(--block-shadow);
  }
  
  .photo-list-p__text-list-ll {
    font-size: 16px;
    line-height: 1.875;
    color: var(--color-color2);
    
  }
  