:root {
    --color-hover: #2196f3;
    --font-family: 'Raleway', sans-serif;
    --color-color2: #757575;
    --background-color-color3: #2f303a;
    --background-color-color4: #f5f4fa;
    --color-color3: #212121;
    --color-color4: #fff;
    --background-color5: #188ce8;
    --color-color5: rgba(255, 255, 255, 0.6);
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --decor-photo-background: #F5F4FA;
    --icons-contacts: #AFB1B8;
    --background-color-footer: rgba(255, 255, 255, 0.1);
    --color-company: #AFB1B8;
    --block-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --color-description: rgba(47, 48, 58, 0.8);
    --block: #2196F3;
    --modal-window: rgba(0, 0, 0, 0.2);
    --rgba-decription: rgba(33, 150, 243, 0.9);
    --modal-window-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --checkbox: #212121;
    --input-foot: #2F303A;
    --exit-button: rgba(0, 0, 0, 0.1);
    --box-shadow-button-modal: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --button-modal: #188CE8;
  
  }